<section class="form">
    <div class="container">
        <h2 class="section-title text-center light-weight larger bottom-margin">외출신청</h2>
        <div class="divider"></div>
        <%= render 'form' %>
    </div>
</section>