<div class="container container-height-recover session">
  <div class="video-cover"></div>
  <div class="valign-center">
    <h2 class="section-title light-weight text-center larger">로그인</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, required: true, placeholder: "이메일" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", required: true, placeholder: "패스워드" %>
      </div>
    
        <%= f.submit "로그인", class: "btn-balloon btn-magenta" %>
    <% end %>
    
    <p>로그인에 문제가 발생할 경우, 교무지원실에 문의하시기 바랍니다.</p>
  </div>
</div>