<section class="landing">
    <iframe class="back-video" src="https://www.youtube.com/embed/TYdpWxotxiw?t=10s&autoplay=1&controls=0&showinfo=0&autohide=1&mute=1&modestbranding=1&loop=1" frameborder="0"></iframe>
    <div class="video-cover"></div>
    <div class="valign-center">
        <h2 class="landing-title">편리한 외출신청.</h2>
        <p class="landing-desc">복잡한 명단 작성과 승인절차가 필요없는, 간단하고 편리한 외출.</p>
    </div>
</section>